{% extends 'usimamizi/base.html' %}


{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'usimamizi/css/pages/mahudhurio.css' %}">
{% endblock %}

{% block maudhui %}
<div class="mahudhurio-inline-1">
    
    <div class="mahudhurio-inline-2">
        <h2 class="mahudhurio-inline-3">Daftari la Mahudhurio</h2>
        <p class="mahudhurio-inline-4">Tarehe: <strong>{{ leo }}</strong></p>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="mahudhurio-inline-5">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="mahudhurio-inline-6">
            <table class="mahudhurio-inline-7">
                <thead>
                    <tr class="mahudhurio-inline-8">
                        <th class="mahudhurio-inline-9">Jina Kamili</th>
                        <th class="mahudhurio-inline-9">Juzuu</th>
                        <th class="mahudhurio-inline-10">Yupo?</th>
                        <th class="mahudhurio-inline-9">Sababu (Kama hayupo)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mwanafunzi in wanafunzi %}
                    <tr class="mahudhurio-inline-11">
                        <td class="mahudhurio-inline-12">{{ mwanafunzi.jina_kamili }}</td>
                        <td class="mahudhurio-inline-13">Juzuu {{ mwanafunzi.juzuu_aliyohifadhi }}</td>
                        <td class="mahudhurio-inline-14">
                            <input type="checkbox" name="yupo_{{ mwanafunzi.id }}" checked class="mahudhurio-inline-15">
                        </td>
                        <td class="mahudhurio-inline-16">
                            <input type="text" name="sababu_{{ mwanafunzi.id }}" placeholder="Maelezo kidogo..." 
                                   class="mahudhurio-inline-17">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <button type="submit" class="mahudhurio-inline-18">
            💾 HIFADHI MAHUDHURIO YA LEO
        </button>
    </form>
</div>
{% endblock %}