{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Matokeo ya Mtihani</title>
    <link rel="stylesheet" href="{% static 'usimamizi/css/pdf/pdf_matokeo.css' %}?v=20260706a">
</head>
<body>

    <div class="header">
        <h1>Al-Madrasatul Rasulillah</h1>
        <p><b>Ripoti ya Matokeo ya Mtihani</b></p>
        <p>Somo: <b>{{ somo.jina }}</b> &nbsp;&nbsp;|&nbsp;&nbsp; Mtihani: <b>{{ mtihani.jina_la_mtihani }}</b></p>
        <p>Tarehe ya Mtihani: {{ mtihani.tarehe|date:"d M Y" }} &nbsp;&nbsp;|&nbsp;&nbsp; Waliofanya: {{ idadi_waliofanya }}</p>
    </div>

    <table>
        <thead>
            <tr>
                <th class="center col-position">Nafasi</th>
                <th class="col-student">Jina la Mwanafunzi</th>
                <th class="center col-score">Maksi</th>
                <th class="center col-grade">Daraja</th>
                <th class="col-notes">Maelezo</th>
            </tr>
        </thead>
        <tbody>
            {% for m in matokeo %}
            <tr>
                <td class="center"><b>{{ m.nafasi }}</b></td>
                <td>{{ m.mwanafunzi.jina_kamili }}</td>
                <td class="center">{{ m.maksi|floatformat:"0" }}%</td>
                <td class="center"><b>{{ m.daraja }}</b></td>
                <td>{{ m.maelezo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="footer">
        <p>Imechapishwa Tarehe: {{ wakati_huu|date:"d M Y, H:i" }}</p>
        <p>Al-Madrasatul Rasulillah Management System</p>
    </div>

</body>
</html>