{% extends 'usimamizi/base.html' %}


{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'usimamizi/css/pages/rekodi_maendeleo.css' %}?v=20260706a">
{% endblock %}

{% block maudhui %}
<div class="rekodi_maendeleo-inline-1">
    <div class="rekodi_maendeleo-inline-2">
        <h2 class="rekodi_maendeleo-inline-3">Kumbukumbu ya Sabaq</h2>
        <p class="rekodi_maendeleo-inline-4"><b>Mwanafunzi:</b> {{ mwanafunzi.jina_kamili }}</p>
        
        <form method="POST">
            {% csrf_token %}
            
            <div class="rekodi_maendeleo-inline-5">
                <label class="rekodi_maendeleo-inline-6">📖 Amesoma Kuanzia:</label>
                {{ form.sura_kuanzia }}
                {{ form.aya_kuanzia }}
            </div>

            <div class="rekodi_maendeleo-inline-7">
                <label class="rekodi_maendeleo-inline-6">🏁 Mpaka:</label>
                {{ form.sura_kuishia }}
                {{ form.aya_kuishia }}
            </div>

            <div class="rekodi_maendeleo-inline-8">
                <label class="rekodi_maendeleo-inline-9">📝 Maoni / Mapendekezo:</label>
                {{ form.maoni }}
            </div>

            <button type="submit" class="rekodi_maendeleo-inline-10">
                ✅ Hifadhi Maendeleo ya Leo
            </button>
            <a href="{% url 'orodha_wanafunzi' %}" class="rekodi_maendeleo-inline-11">Hairisha</a>
        </form>
    </div>
</div>
{% endblock %}