{% extends 'usimamizi/base.html' %}


{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'usimamizi/css/pages/wanafunzi_hifdhu.css' %}">
{% endblock %}

{% block maudhui %}
<div class="wanafunzi_hifdhu-inline-1">

    <div class="page-header">
        <h1>Wanafunzi: {{ somo.jina }}</h1>
        <a href="{% url 'somo_detail' somo.id %}" class="btn-icon-back" title="Rudi Nyuma">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
        </a>
    </div>

    <div class="table-card">
        <div class="wanafunzi_hifdhu-inline-2">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Jina Kamili</th>
                        <th class="wanafunzi_hifdhu-inline-3">Tathmini</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mwanafunzi in wanafunzi %}
                    <tr>
                        <td class="wanafunzi_hifdhu-inline-4">
                            <a href="{% url 'mwanafunzi_profile' mwanafunzi.id %}" class="wanafunzi_hifdhu-inline-5">
                                {{ mwanafunzi.jina_kamili }}
                            </a>
                        </td>
                        
                        <td>
                            <div class="action-group">
                                <a href="{% url 'rekodi_sabaq' mwanafunzi.id 'Usiku' %}" class="btn-action-sm primary-style">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                    Sabaq
                                </a>

                                <a href="{% url 'ripoti_mwanafunzi' mwanafunzi.id 'Usiku' %}" class="btn-action-sm secondary-style">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                                    Ripoti
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2" class="wanafunzi_hifdhu-inline-6">
                            Hakuna mwanafunzi aliyesajiliwa kwenye programu hii ya usiku.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}