{% extends 'usimamizi/base.html' %}


{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'usimamizi/css/pages/weka_malipo.css' %}">
{% endblock %}

{% block maudhui %}
<div class="weka_malipo-inline-1">
    
    <div class="weka_malipo-inline-2">
        <h2 class="weka_malipo-inline-3">💵 Pokea Malipo Mapya</h2>
        <p class="weka_malipo-inline-4">
            Mwanafunzi: <b class="weka_malipo-inline-5">{{ mwanafunzi.jina_kamili }}</b><br>
            Aina ya Malipo: <b>{{ aina_ya_malipo.jina }}</b>
        </p>

        <div class="weka_malipo-inline-6">
            <div class="weka_malipo-inline-7">
                <span class="weka_malipo-inline-8">Alicholipa Mpaka Sasa</span><br>
                <b class="weka_malipo-inline-9">Tsh {{ jumla_yake }}/=</b>
            </div>
            <div class="weka_malipo-inline-10">
                <span class="weka_malipo-inline-8">Deni / Anachodaiwa</span><br>
                <b class="weka_malipo-inline-11">Tsh {{ deni }}/=</b>
            </div>
        </div>

        <form method="POST" action="">
            {% csrf_token %}
            
            <div class="weka_malipo-inline-12">
                <label class="weka_malipo-inline-13">Kiasi Anacholipa Sasa Hivi (Tsh):</label>
                <input type="number" name="kiasi" max="{{ deni }}" required placeholder="Mf. 5000" class="weka_malipo-inline-14">
                <small class="weka_malipo-inline-15">Hawezi kulipa kiasi kinachozidi deni lake.</small>
            </div>

            <div class="weka_malipo-inline-12">
                <label class="weka_malipo-inline-13">Njia ya Malipo:</label>
                <select name="njia" required class="weka_malipo-inline-16">
                    <option value="Cash">Pesa Taslimu (Cash)</option>
                    <option value="Simu">Mtandao wa Simu / Benki</option>
                </select>
            </div>

            <div class="weka_malipo-inline-17">
                <label class="weka_malipo-inline-13">Maelezo ya Ziada (Si Lazima):</label>
                <textarea name="maelezo" rows="2" placeholder="Mf. Amelipa kwa Mpesa namba..." class="weka_malipo-inline-18"></textarea>
            </div>

            <div class="weka_malipo-inline-19">
                <a href="{% url 'malipo' %}?aina={{ aina_ya_malipo.id }}" class="weka_malipo-inline-20">Ghairi</a>
                <button type="submit" class="weka_malipo-inline-21">💾 Hifadhi Malipo</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}